body {
  background: linear-gradient(90deg, rgb(23, 26, 29), rgb(96, 96, 96));
}

h1 {
  background-color: #fff;
  padding: 2em;
  font-size: 480%;
  margin: 0;
  font-family: georgia;
  text-shadow: 2px 2px 4px #000;
  margin: -1em;
  }

h3 {
  position: relative;
  font-family: georgia;
  font-size: 200%;
  color: #fff;
}

ol {
  padding: 1em;
  color: #fff;
}

#info {
  font-size: 120%;
}

#gallery {
	font-size: 200%;
	}

a{
	color: #ffffff;
	font-size: 150%;
	}
	
a:visited {
	color: #D3D3D3;
	}
	
a:hover {
	color: #FF69B4;
	}
	
p {
	display: block;
	margin-top: 5em;
	margin-bottom: 4em;
	margin-left: 2em;
	margin-right: 2em;
	font-size: 300%;
	color: #D3D3D3;
	border: solid; 
	padding: 1.5em;
	box-shadow: 10px 10px; 
	}
	
	
